# Dependencies
node_modules/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Build output
out/
dist/

# Environment variables
.env
.env.local

# Database files
*.db
*.db-journal

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Temp
temp/
